Repository memot-app/memot: changes, and which lefthook commands are due for each by the changed paths.
All: astro, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    astro:
      glob: "*.astro"
      run: |
        pnpm exec astro check --minimumFailingSeverity=warning {staged_files}
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: |
        pnpm exec biome check --error-on-warnings --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

delete：GitHubアクション削除
  .github/workflows/vercel-preview.yml
  .github/workflows/vercel-production.yml
Due: none

fix：文書を作成
  package-lock.json
  src/pages/index.astro
Due: astro, biome

delete：pnpm削除
  package.json
  pnpm-lock.yaml
Due: biome

fix：lockファイル
  package-lock.json
Due: biome

fix：pretterのバージョンを変更
  package-lock.json
  package.json
Due: biome

feat：ogpの画像を変更
  public/og-image.png
  src/assets/ui/modal-big.png
Due: none

fix：メッセージカードの修正
  astro.config.mjs
  src/components/MessageCard.astro
  src/pages/index.astro
Due: astro, biome

fix：safari向けに改良
  src/components/ui/AppLink/AppLinkWeb.astro
  src/components/ui/FeatureDisplay/FeatureDisplayImage.astro
  src/components/ui/Header/Header.astro
  src/constants/metadata.ts
  src/pages/index.astro
Due: astro, biome

fix：細かい修正
  src/assets/ui/everyone-page.png
  src/assets/ui/modal-big.png
  src/assets/ui/modal.png
  src/assets/ui/notification.png
  src/components/MessageCard.astro
  src/components/ui/FeatureList/FeatureListItem.astro
  src/components/ui/Header/Header.astro
  src/pages/index.astro
Due: astro

feat：footerのアニメーションを追加
  src/components/ui/Footer/Footer.astro
Due: astro

feat：ニュースページの作成
  astro.config.mjs
  package-lock.json
  package.json
  src/constants/metadata.ts
  src/layouts/NewsPostLayout.astro
  src/pages/news/2024-12-01-markdown-demo.mdx
  src/pages/news/index.astro
Due: astro, biome

feat：マークダウンの変更
  src/layouts/NewsPostLayout.astro
  src/pages/news/2024-12-01-markdown-demo copy.mdx
  src/pages/news/2025-09-03-1.mdx
Due: astro

fix：お知らせページのスタイルの修正
  src/pages/news/index.astro
Due: astro

fix：細かい修正
  SAMPLE.mdx
  src/components/BaseHead.astro
  src/components/ui/AppLink/AppLinkWeb.astro
  src/components/ui/SimpleVideoPlayer.astro
  src/pages/news/2024-12-01-markdown-demo.mdx
  src/pages/news/index.astro
Due: astro

add：lpページの記事の追加
  astro.config.mjs
  public/news/2025-09-03-1/20250903-apphistory.png
  public/news/2025-09-03-1/20250903-dayloghistory.png
  public/news/2025-09-03-1/20250903-homehistory.png
  src/components/ui/AppLink/AppLinkWeb.astro
  src/components/ui/FeatureDisplay/FeatureDisplayImage.astro
  src/layouts/NewsPostLayout.astro
  src/pages/news/2025-09-03-1.mdx
  src/styles/global.css
Due: astro, biome

update：文章の変更
  src/components/ui/FeatureDisplay/FeatureDisplayImage.astro
  src/layouts/NewsPostLayout.astro
  src/pages/news/2025-09-03-1.mdx
Due: astro

fix：記事のテキストの修正
  src/pages/index.astro
  src/pages/news/2025-09-03-1.mdx
Due: astro

fix：アセット類の置換
  public/news/2025-09-03-1/20250903-dayloghistory.png
  public/news/2025-09-03-1/20250903-homehistory.png
  src/assets/richText/strikethrough-like.svg
  src/assets/ui/footer-web.png
  src/components/ui/AppLink/AppLinkWeb.astro
  src/components/ui/Header/Header.astro
  src/pages/index.astro
Due: astro

feat：ogpのタイトルを可変
  src/components/BaseHead.astro
  src/layouts/NewsPostLayout.astro
  src/layouts/RootLayout.astro
  src/pages/news/index.astro
Due: astro

move：ルートを変更
  public/news/2025-09-03-1/20250903-dayloghistory.png
  src/components/ui/FeatureDisplay/FeatureDisplayImage.astro
  src/pages/news/article/2025-09-03-1.mdx
  src/pages/news/index.astro
Due: astro

fix：アニメーションの最適化
  src/pages/index.astro
  src/pages/news/index.astro
Due: astro

chore：テキストの修正
  src/pages/index.astro
Due: astro

fix：リリースボタンをお知らせに遷移させるように変更
  src/components/ui/AppLink/AppLinkWeb.astro
Due: astro

fix：プロモーションビデオのタイトルのサイズを変更
  src/pages/index.astro
Due: astro

fix：特徴のテキストをレスポンシブ化
  src/components/ui/FeatureDisplay/FeatureDisplayImage.astro
  src/components/ui/FeatureList/FeatureListItem.astro
  src/pages/index.astro
Due: astro

fix：めものコンマの修正
  src/pages/index.astro
Due: astro

fix：metatagの修正
  src/components/BaseHead.astro
  src/constants/metadata.ts
Due: astro, biome

add：画像の追加
  public/beta-info.png
  public/news/beta-info/android-info.png
  public/news/beta-info/android-store.png
  public/news/beta-info/ios-appstore.png
  public/news/beta-info/ios-testflight.png
  public/news/beta-info/mail.png
Due: none

fix：スタイルの調整
  src/layouts/NewsPostLayout.astro
Due: astro

feat：βテストのページの作成
  src/pages/news/article/beta-info.mdx
  src/pages/news/index.astro
Due: astro

feat：既知の問題を追加
  src/pages/news/article/beta-info.mdx
Due: none

feat：目次の追加
  src/layouts/NewsPostLayout.astro
  src/pages/news/article/beta-info.mdx
Due: astro

fix：テキストの変更
  src/pages/news/article/beta-info.mdx
Due: none
