Repository memot-app/memot: changes, and which lefthook commands are due for each by the changed paths.
All: astro, biome

astro:
  run: 'astro check --minimumFailingSeverity=warning {staged_files}
  
    '

biome:
  run: 'biome check --error-on-warnings --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  
    '
  stage_fixed: true

feat: 汎用型の定義
  src/types/astro.ts
  src/types/index.ts
Due: biome

feat: サイト情報の定義
  src/constants/env.ts
  src/constants/metadata.ts
Due: biome

feat: スタイルテーマの定義
  src/styles/global.css
Due: none

feat: robots.txtを自動生成
  src/pages/robots.txt.ts
Due: biome

feat: checkURL関数を追加
  src/utils/url.test.ts
  src/utils/url.ts
Due: biome

feat: メタデータのベースを追加
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon-96x96.png
  public/favicon.ico
  public/favicon.svg
  public/icon-maskable-192x192.png
  public/icon-maskable-512x512.png
  public/og-image.png
  public/site.webmanifest
  src/components/BaseHead.astro
Due: astro

feat: アセットの追加
  src/assets/appstore-badge-jp-blk.svg
  src/assets/bg-feature-box.png
  src/assets/calendar-fri.svg
  src/assets/calendar-mon.svg
  src/assets/calendar-sat.svg
  src/assets/calendar-sun.svg
  src/assets/calendar-thu.svg
  src/assets/calendar-tue.svg
  src/assets/calendar-wed.svg
  src/assets/footer-bg.svg
  src/assets/footer-display.png
  src/assets/googleplay-badge-web-color-jp.svg
  src/assets/memot-icon-color.svg
  src/assets/memot-logo-full-color.svg
  src/assets/note-locked.svg
  src/assets/screen1-1-msg1.png
  src/assets/screen1-1-msg2.png
  src/assets/screen1-1-msg3.png
  src/assets/screen1-1-msg4.png
  src/assets/screen1-1.png
  src/assets/screen1-2.png
  src/assets/screen2-1.png
  src/assets/screen2-2.png
  src/assets/screen3.png
  src/assets/screen4-1-msg1.png
  src/assets/screen4-1-msg2.png
  src/assets/screen4-1.png
  src/assets/screen4-2-msg1.png
  src/assets/screen4-2-msg2.png
  src/assets/screen4-2.png
  src/assets/strikethrough-dm.svg
  src/assets/strikethrough-like.svg
  src/assets/strikethrough-reply.svg
  src/assets/strikethrough-repost.svg
  src/assets/webapp-badge-color-jp.svg
Due: none

feat: コンポーネントの追加
  src/components/ui/AppLink/AppLinkAppStore.astro
  src/components/ui/AppLink/AppLinkGooglePlay.astro
  src/components/ui/AppLink/AppLinkWeb.astro
  src/components/ui/Brand/BrandIcon.astro
  src/components/ui/Brand/BrandLogoFull.astro
  src/components/ui/ConceptList/ConceptList.astro
  src/components/ui/ConceptList/ConceptListItem.astro
  src/components/ui/Container/RoundCornerContainer.astro
  src/components/ui/FeatureDisplay/FeatureDisplay.astro
  src/components/ui/FeatureDisplay/FeatureDisplayImage.astro
  src/components/ui/FeatureDisplay/FeatureDisplayText.astro
  src/components/ui/FeatureList/FeatureList.astro
  src/components/ui/FeatureList/FeatureListItem.astro
  src/components/ui/Footer/Footer.astro
  src/components/ui/Footer/FooterLink.astro
  src/components/ui/Header/Header.astro
  src/components/ui/Header/HeaderLink.astro
  src/components/ui/Link/Link.astro
  src/components/ui/Link/utils.ts
Due: astro, biome

feat: ルートレイアウトの追加
  src/layouts/RootLayout.astro
Due: astro

feat: LPページの追加
  src/pages/index.astro
Due: astro

docs: ドキュメント類の追加
  CODE_OF_CONDUCT.ja.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
  LICENSE
  README.ja.md
  README.md
Due: none

chore(lefthook): コマンドにpnpm execを追加
  lefthook.yml
Due: none

docs: 諸々の誤りを訂正
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
  README.ja.md
  README.md
Due: none

chore(vitest): 型を補足
  vitest.config.ts
Due: biome

feat: 新しいヘッダーだよ
  src/components/ui/Header/Header.astro
  src/pages/index.astro
  src/styles/global.css
Due: astro

feat；メッセージカードを画像からコンポーネントに変更
  lefthook.yml
  src/components/MessageCard.astro
  src/pages/index.astro
Due: astro

refactor(MessageCard): ctrl+sでフォーマットされちゃった
  src/components/MessageCard.astro
  src/pages/index.astro
Due: astro

refactor: Headerの背景をコンポーネントにする
  src/components/ui/Header/Header.astro
  src/components/ui/Header/HeaderBackground.astro
  src/pages/index.astro
Due: astro

docs: コメント追加
  src/styles/global.css
Due: none

fix:テキストサイズの変更
  src/styles/global.css
Due: none

fix：トップページのレイアウト修正
  src/components/ui/Header/Header.astro
  src/pages/index.astro
  src/styles/global.css
Due: astro

fix：概要部分のレイアウト修正
  src/components/ui/ConceptList/ConceptList.astro
  src/components/ui/ConceptList/ConceptListItem.astro
  src/components/ui/FeatureList/FeatureList.astro
  src/components/ui/FeatureList/FeatureListItem.astro
  src/pages/index.astro
Due: astro

fix；レイアウトの修正
  src/pages/index.astro
Due: astro

fix：AI部分のレイアウトを調整
  src/components/ui/FeatureDisplay/FeatureDisplay.astro
  src/components/ui/FeatureDisplay/FeatureDisplayImage.astro
  src/components/ui/FeatureDisplay/FeatureDisplayText.astro
  src/pages/index.astro
Due: astro

fix；ヘッダーの修正
  src/components/ui/Footer/Footer.astro
  src/constants/metadata.ts
  src/pages/index.astro
Due: astro, biome

fix：タイトルテキストを変更
  src/pages/index.astro
Due: astro

fix：細かい修正
  src/components/ui/Footer/Footer.astro
  src/components/ui/Header/Header.astro
  src/pages/index.astro
Due: astro

delete：ファイルの削除
  CODE_OF_CONDUCT.ja.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
  LICENSE
  README.ja.md
  README.md
  src/constants/env.ts
Due: biome

delete：vercelのアダプターを削除
  astro.config.mjs
  package.json
Due: biome

add：画像の置換
  src/assets/brand/memot-app-icon.png
  src/assets/brand/memot-namelogo.svg
  src/assets/ui/daylog.png
  src/assets/ui/everyone-page.png
  src/assets/ui/home.png
  src/assets/ui/letter.png
  src/assets/ui/modal-big.png
  src/assets/ui/modal.png
  src/assets/ui/notification.png
  src/assets/ui/profile.png
  src/assets/ui/top-daylog.png
  src/assets/ui/top-home.png
  src/components/ui/Brand/BrandIcon.astro
  src/components/ui/Brand/BrandLogoFull.astro
  src/components/ui/FeatureDisplay/FeatureDisplayImage.astro
  src/components/ui/Header/Header.astro
  src/pages/index.astro
Due: astro

delete：ファイルの削除
  src/assets/bg-feature-box.png
  src/assets/memot-icon-color.svg
  src/assets/memot-logo-full-color.svg
  src/assets/screen1-1-msg1.png
  src/assets/screen1-1-msg2.png
  src/assets/screen1-1-msg3.png
  src/assets/screen1-1-msg4.png
  src/assets/screen1-1.png
  src/assets/screen1-2.png
  src/assets/screen2-1.png
  src/assets/screen2-2.png
  src/assets/screen3.png
  src/assets/screen4-1-msg1.png
  src/assets/screen4-1-msg2.png
  src/assets/screen4-1.png
  src/assets/screen4-2-msg1.png
  src/assets/screen4-2-msg2.png
  src/assets/screen4-2.png
  src/assets/webapp-badge-color-jp.svg
  src/components/ui/AppLink/AppLinkWeb.astro
  src/pages/index.astro
  src/styles/global.css
Due: astro

fix：アセットの修正
  src/assets/calender/calendar-fri.svg
  src/assets/calender/calendar-mon.svg
  src/assets/calender/calendar-sat.svg
  src/assets/calender/calendar-sun.svg
  src/assets/calender/calendar-thu.svg
  src/assets/calender/calendar-tue.svg
  src/assets/calender/calendar-wed.svg
  src/assets/footer-display.png
  src/assets/richText/strikethrough-dm.svg
  src/assets/richText/strikethrough-like.svg
  src/assets/richText/strikethrough-reply.svg
  src/assets/richText/strikethrough-repost.svg
  src/assets/ui/footer-web.png
  src/components/ui/Footer/Footer.astro
  src/pages/index.astro
Due: astro

fix；footerの改善
  src/components/ui/Footer/Footer.astro
Due: astro

update：レイアウトの変更
  src/assets/daylog-prototype.mp4
  src/components/ui/FeatureDisplay/FeatureDisplay.astro
  src/components/ui/FeatureDisplay/FeatureDisplayDescription.astro
  src/components/ui/FeatureDisplay/FeatureDisplayImage.astro
  src/components/ui/FeatureDisplay/FeatureDisplayTitle.astro
  src/components/ui/Footer/Footer.astro
  src/pages/index.astro
Due: astro

fix：動画部分のレイアウトを修正
  src/components/ui/FeatureDisplay/FeatureDisplay.astro
  src/components/ui/FeatureDisplay/FeatureDisplayImage.astro
  src/pages/index.astro
Due: astro

add：パッケージの追加
  package-lock.json
  package.json
Due: biome

fix：メッセージカードの修正
  src/components/MessageCard.astro
  src/pages/index.astro
Due: astro

fix：トップの修正
  src/components/MessageCard.astro
  src/pages/index.astro
Due: astro

Path conditions:
  astro: any of: *.astro
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
